%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:banner_slots, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:banner_slots, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:banner_slots, :edit, :id => @banner_slot.id)

.tabs-content
  -form_for :banner_slot, url(:banner_slots, :update, :id => @banner_slot.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'banner_slots/form', :locals => { :f => f }
