- error = @banner_content.errors.include?(:html_content)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :html_content, :class => 'control-label'
  .controls
    =f.text_area :html_content, :class => 'form-control input-large input-with-feedback', :rows => "20", :autofocus => true
    %span.help-inline=error ? f.error_message_on(:html_content, :class => 'text-error') : pat(:example)

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:banner_contents, :index), :class => 'btn btn-default'
