%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:banner_contents, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:banner_contents, :new)

.tabs-content
  -form_for :banner_content, url(:banner_contents, :create), :class => 'form-horizontal' do |f|
    =partial 'banner_contents/form', :locals => { :f => f }
